{{- if .Values.nodePools.default.enabled }}
apiVersion: karpenter.k8s.aws/v1
kind: EC2NodeClass
metadata:
  name: default
spec:
  amiFamily: {{ .Values.ec2NodeClass.amiFamily }}
  role: {{ .Values.ec2NodeClass.instanceProfile | replace "-instance-profile" "" }}
  subnetSelectorTerms:
    {{- toYaml .Values.ec2NodeClass.subnetSelectorTerms | nindent 4 }}
  securityGroupSelectorTerms:
    {{- toYaml .Values.ec2NodeClass.securityGroupSelectorTerms | nindent 4 }}
  blockDeviceMappings:
    {{- toYaml .Values.ec2NodeClass.blockDeviceMappings | nindent 4 }}
{{- end }}
